{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "root": ["./**/react-native-essentials"],
      "alias": {
        "utils": "./utils"
      },
      "extensions": [".android.js", ".ios.js", ".js"]
    }]
  ]
}
